---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/c17e556d16c84272beb4ee73ab709631/query
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer secret_BELfDH6cf4Glc9NLPLxvsvdl9iZVD4qBCyMDXqch51B
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - c169d957-4b2b-4295-844d-aa1754ff6fc2
      Etag:
      - W/"1783-3St9Y1mxbCzjXnFPSZt5EhHg+iI"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[{"object":"page","id":"3f9e55d5-1bb3-47a2-aaf0-dd07e45f8266","created_time":"2024-01-12T14:53:00.000Z","last_edited_time":"2024-01-12T14:53:00.000Z","created_by":{"object":"user","id":"c6b8a1d7-ad21-4bad-92a9-6c5310ec825a"},"last_edited_by":{"object":"user","id":"c6b8a1d7-ad21-4bad-92a9-6c5310ec825a"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c17e556d-16c8-4272-beb4-ee73ab709440"},"archived":false,"properties":{"Full
        Name":{"id":"CkmY","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Laura
        Villada","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Laura
        Villada","href":null}]},"BD_this_year":{"id":"Qo%3Cj","type":"date","date":{"start":"2024-01-31","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Laura
        Villada","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Laura
        Villada","href":null}]}},"url":"https://www.notion.so/Laura-Villada-3f9e55d51bb347a2aaf0dd07e45f8266","public_url":null},{"object":"page","id":"1e7d9b28-d186-4f2e-9967-36c319cc77da","created_time":"2024-01-12T05:11:00.000Z","last_edited_time":"2024-01-12T05:11:00.000Z","created_by":{"object":"user","id":"c6b8a1d7-ad21-4bad-92a9-6c5310ec825a"},"last_edited_by":{"object":"user","id":"c6b8a1d7-ad21-4bad-92a9-6c5310ec825a"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c17e556d-16c8-4272-beb4-ee73ab709440"},"archived":false,"properties":{"Full
        Name":{"id":"CkmY","type":"rich_text[...]
