---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/c17e556d16c84272beb4ee73ab709631/query
    body:
      encoding: UTF-8
      string: '{"filter":{"or":[{"property":"BD_this_year","date":{"equals":"2024-01-16"}}]},"sorts":[]}'
    headers:
      Authorization:
      - Bearer secret_BELfDH6cf4Glc9NLPLxvsvdl9iZVD4qBCyMDXqch51B
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 523b7c7d-31f7-4f8a-968a-7c32912b7eba
      Etag:
      - W/"526-7hIKltu2FaOOAbZpxAo7AeOegDU"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[{"object":"page","id":"c05d68ca-dbff-4127-81ce-820f245d7061","created_time":"2024-01-11T14:01:00.000Z","last_edited_time":"2024-01-16T13:20:00.000Z","created_by":{"object":"user","id":"c6b8a1d7-ad21-4bad-92a9-6c5310ec825a"},"last_edited_by":{"object":"user","id":"c6b8a1d7-ad21-4bad-92a9-6c5310ec825a"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"c17e556d-16c8-4272-beb4-ee73ab709440"},"archived":false,"properties":{"Full
        Name":{"id":"CkmY","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Luis
        Hurtado","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Luis
        Hurtado","href":null}]},"BD_this_year":{"id":"Qo%3Cj","type":"date","date":{"start":"2024-01-16","end":null,"time_zone":null}},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"LH","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"LH","href":null}]}},"url":"https://www.notion.so/LH-c05d68cadbff412781ce820f245d7061","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"523b7c7d-31f7-4f8a-968a-7c32912b7eba"}'
  recorded_at: Tue, 16 Jan 2024 13:22:17 GMT
recorded_with: VCR 6.2.0
