---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/w17e556d16c84272beb4ee73ab709639/query
    body:
      encoding: UTF-8
      string: '{"filter":{"or":[{"property":"BD_this_year","date":{"equals":"2024-01-17"}}]},"sorts":[]}'
    headers:
      Authorization:
      - Bearer secret_BELfDH6cf4Glc9NLPLxvsvdl9iZVD4qBCyMDXqch51B
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 2273460d-6314-4034-bd38-ebcd6b7de9cd
      Etag:
      - W/"a6-pBkwSAFkoFXiQZy4hQZRE0W9e0M"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"2273460d-6314-4034-bd38-ebcd6b7de9cd"}'
  recorded_at: Wed, 17 Jan 2024 14:05:12 GMT
recorded_with: VCR 6.2.0
